body { font-family: 'Lato', sans-serif; }
html[data-view-xmlid="gv_reseller.pricing"] .col-md-4 { width: 33%; float:left; }
html[data-view-xmlid="gv_reseller.pricing"] .col-md-8 { width: 66%; float:left; }

html[data-view-xmlid="gv_reseller.pricing"] input.form-control { border-radius: 0px; }
html[data-view-xmlid="gv_reseller.pricing"] textarea.form-control { border-radius: 0px; }

/*** bookmarks
	the green: #018738;
 */

.left2 { padding-bottom: 50px; }

#no_users_div h3 { display: inline-block; margin-right: 50px; margin-top: 0px;}
#client_count { text-align: center;display: inline-block; width: auto; background: #f3f3f3; border:none; outline: none;}

/*** MODULE BOXES ***/
label.module-select { padding:0 5px; cursor: pointer; position: relative; margin: 10px 0px; }
label.module-select img { width: 100%; /*max-width: 240px*/; }
.check {
	display: none;
	position: absolute;
	bottom: 5%;
	right: 10%;
	z-index: 10;
	color: #fff;
	font-size: 2.2em;
}
.module_title, .module_price {
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top:20%;
	left: 20%;
	max-width: 120px;
	display: block;
	text-shadow: -1px 1px 2px rgba(0,0,0,0.3);
	font-size: 0.9em;
	line-height: 15px;
}
.module_price { top: auto; bottom: 12.5%; }
.module_price i { font-weight: normal; text-transform: lowercase; }
.cb_module { pointer-events:none; position: absolute; left: 8%; top:50%; transform:translateY(-50%); width: 20px; height: 20px; }
/*** MODULE BOXES [END] ***/

/*** SERVICES ***/

.other_service:before, .other_service:after{
	content: " ";
	display: table;
}
.other_service {background: #eee; padding: 20px 20px 40px; text-align: center;min-height: 160px;border:8px solid #fff;}
.other_service header {display: block;font-weight: bold;}
.other_service p { font-size: 0.8em;margin: 15px 0px; }
.opt_serv_price {display: inline-block; color: #018738; font-weight: bold; font-size: 1.5em; margin: 10px;}
.opt_serv_dropdown { box-shadow:-1px 1px 3px rgba(0,0,0,0.2);cursor:pointer;list-style: none; margin:0; padding:0; position: absolute; width: 80%; background: #f3f3f3; height: 25px; left: 10%;overflow: hidden; z-index: 2;  outline:0;}
.opt_serv_dropdown.selected { max-height: calc(25px * 4); }
.opt_serv_dropdown:before { content: '\f0d7';font-family: FontAwesome; position: absolute; right: 8%; top:3px;}
.opt_serv_dropdown:focus { height: calc(25px * 5); }
.opt_serv_dropdown li {height: 25px; line-height: 25px;background: #fafafa;border:1px solid #CCC; border-bottom: 0;}
.opt_serv_dropdown li:first-child { background-color: #fff; font-size: 0.8em; color:#AAA; border:none; }
.opt_serv_dropdown li:last-child { border-bottom:1px solid #CCC; }
.opt_serv_dropdown li.selected {position: absolute; top:0px; width: 100%;pointer-events: none}
/*** SERVICES [END]***/

/** OTHER SERVICES */
.ots {position:relative; width:20%;float:left; background:#eee;border:5px solid #fff;box-sizing:border-box; text-align:center; }
.ots .top { background:green; padding:10px 0; }
.ots .top input {width: 20px; height: 20px;}
.ots header {display: block;font-weight: bold; padding:15px 5px 3px; }
.ots p {font-size:0.8em; margin:0 auto; width: 80%;}
.ots .price { color:#018738;display:block;margin: 20px 0;  } 
.ots .price span:first-child {font-weight: bold; font-size: 1.2em;}
.ots .ext { display: block; font-weight:bold; margin: 10px 0 20px; }
.ots .opt_serv_dropdown { max-height: calc(25px * 3); }
.ots .opt_serv_dropdown li.focus {position: absolute; top:0px; width: 100%;pointer-events: none}
/** OTHER SERVICES [END] */

h3 { text-transform: uppercase; }
h4.total_amt { color: #018738; font-size: 0.95em; margin-bottom: 0px; }
#total_amt { color: #018738; font-size: 4em; margin-bottom: 0.8em; font-weight: bold; }
.summary_list { /*width: 240px;*/ width:100%; font-weight: bold; font-size: 1.1em; font-weight: 300; }
.summary_list .row { padding: 10px 0; border-bottom: 2px solid #e7e7e7; margin: 2px 0px; }
.summary_list .col-sm-6:nth-child(1) { text-align: left; padding-left: 0px; }
.summary_list .col-sm-6:nth-child(2) { text-align: right; padding-right: 0px; color:#018738; }

.top-space { margin-top: 2em; }
.btn-green { cursor: pointer; font-weight: bold; color: #ffffff; background-color: #018738; /*display: inline-block;*/ padding: 10px 20px; font-size: 1em; text-transform: uppercase; text-align: center; }

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  -webkit-position: sticky;
  position: sticky;
  top: 55px;
}
.clear { clear:both; }
.project_details { background: #eee; font-size: 1em; margin:0; text-transform: capitalize; }
.project_details h3 { margin: 0; padding: 10px; }
.project_details div { padding: 15px; }
.project_details label { display: block; font-size: 1.05em; margin-bottom: 5px; margin-top: 10px; }

#form_div input.form-control {height: 50px;}
#form_div label {margin-top:20px;}

.pricing_overlay {
	position: fixed;
    background: #fff url(/gv_reseller/static/img/loading_spinner.gif) no-repeat center center;
    z-index: 9;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

@media screen and (max-width: 991px){
	.module_title, .module_price { font-size: 0.8em; line-height: 11px;  }
	label.module-select { margin: 5px 0; }
}