label.module-select { cursor: pointer; position: relative; margin: 10px 0px; }
label.module-select img { width: 100%; }
.check {
	display: none;
	position: absolute;
	bottom: 5%;
	left: 10%;
	z-index: 10;
	color: #fff;
	font-size: 1.8em;
}
.check .fa {
	text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5)
}
label.module-select .cb_module:checked + .check {
	display: block;
}

.cb_module { display: none; }

h4.green_header { background-color: #018738; color: #fff; padding: 10px 15px; margin: 0; }

.product_row {
}
.product_row .header {
	background-color: #f2f2f2;
	padding: 10px 15px;
}
.product_row .header span{
	color: #018738;
	font-size: 1.2em;
	font-weight: bold;
}
.product_row .desc {
	background: #ffffff;
	padding: 10px 15px;
}