body { font-family: 'Lato', sans-serif; }
html[data-view-xmlid="gv_reseller.pricing"] .col-md-4 { width: 33%; float:left; }
html[data-view-xmlid="gv_reseller.pricing"] .col-md-8 { width: 66%; float:left; }

html[data-view-xmlid="gv_reseller.pricing"] input.form-control { border-radius: 0px; }
html[data-view-xmlid="gv_reseller.pricing"] textarea.form-control { border-radius: 0px; }

/*** QUICK REFERENCES
	the green: #018738;
 */

.left2 { padding-bottom: 50px; }

#no_users_div h3 { display: inline-block; margin-right: 50px; margin-top: 0px;}
#client_count { text-align: center;display: inline-block; width: auto; background: #f3f3f3; border:none; outline: none;}

/*** MODULE BOXES ***/
label.module-select { padding:0 5px; cursor: pointer; position: relative; margin: 10px 0px; }
label.module-select img { width: 100%; /*max-width: 240px*/; }
.check {
	display: none;
	position: absolute;
	bottom: 5%;
	right: 10%;
	z-index: 10;
	color: #fff;
	font-size: 2.2em;
}
.module_title, .module_price {
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	position: absolute;
	top:20%;
	left: 20%;
	max-width: 120px;
	display: block;
	text-shadow: -1px 1px 2px rgba(0,0,0,0.3);
	font-size: 0.9em;
	line-height: 15px;
}
.module_price { top: auto; bottom: 12.5%; }
.module_price i { font-weight: normal; text-transform: lowercase; }
.cb_module { pointer-events:none; position: absolute; left: 8%; top:50%; transform:translateY(-50%); width: 20px; height: 20px; }
/*** MODULE BOXES [END] ***/

/*** SERVICES ***/

.other_service:before, .other_service:after{
	content: " ";
	display: table;
}
.other_service {background: #e6e7e8; padding: 20px 20px 40px; text-align: center;min-height: 160px;border:8px solid #fff;}
.other_service header {display: block;font-weight: bold;}
.other_service p { font-size: 0.8em;margin: 15px 0px; }
.opt_serv_price {display: inline-block; color: #018738; font-weight: bold; font-size: 1.5em; margin: 10px;}
.opt_serv_dropdown { box-shadow:-1px 1px 3px rgba(0,0,0,0.2);cursor:pointer;list-style: none; margin:0; padding:0; position: absolute; width: 80%; background: #f3f3f3; height: 25px; left: 10%;overflow: hidden; z-index: 2;  outline:0;}
.opt_serv_dropdown.selected { max-height: calc(25px * 4); }
.opt_serv_dropdown:before { content: '\f0d7';font-family: FontAwesome; position: absolute; right: 8%; top:3px;}
.opt_serv_dropdown:focus { height: calc(25px * 5); }
.opt_serv_dropdown li {height: 25px; line-height: 25px;background: #fafafa;border:1px solid #CCC; border-bottom: 0;}
.opt_serv_dropdown li:first-child { background-color: #fff; font-size: 0.8em; color:#AAA; border:none; }
.opt_serv_dropdown li:last-child { border-bottom:1px solid #CCC; }
.opt_serv_dropdown li.selected {position: absolute; top:0px; width: 100%;pointer-events: none}
/*** SERVICES [END]***/

/** OTHER SERVICES */
.ots {position:relative; width:20%;float:left; background:#e6e7e8;border:5px solid #fff;box-sizing:border-box; text-align:center; }
.ots .top { background:green; padding:10px 0; }
.ots .top input {width: 20px; height: 20px;}
.ots header {display: block;font-weight: bold; padding:15px 5px 3px; }
.ots p {font-size:0.8em; margin:0 auto; width: 80%;}
.ots .price { color:#018738;display:block;margin: 20px 0;  } 
.ots .price span:first-child {font-weight: bold; font-size: 1.2em;}
.ots .ext { display: block; font-weight:bold; margin: 10px 0 20px; }
.ots .opt_serv_dropdown { max-height: calc(25px * 3); }
.ots .opt_serv_dropdown li.focus {position: absolute; top:0px; width: 100%;pointer-events: none}
/** OTHER SERVICES [END] */

h3 { text-transform: uppercase; }
h4.total_amt { color: #018738; font-size: 0.95em; margin-bottom: 0px; }
#total_amt { color: #018738; font-size: 4em; margin-bottom: 0.8em; font-weight: bold; }
.summary_list { /*width: 240px;*/ width:100%; font-weight: bold; font-size: 1.1em; font-weight: 300; }
.summary_list .row { padding: 10px 0; border-bottom: 2px solid #e7e7e7; margin: 2px 0px; }
.summary_list .col-sm-6:nth-child(1) { text-align: left; padding-left: 0px; }
.summary_list .col-sm-6:nth-child(2) { text-align: right; padding-right: 0px; color:#018738; }

.top-space { margin-top: 2em; }
.btn-green, .btn-red, .btn-yellow, .btn-grey { cursor: pointer; font-weight: bold; color: #ffffff; background-color: #018738; /*display: inline-block;*/ padding: 10px 20px; font-size: 1em; text-transform: uppercase; text-align: center; }
.btn-red { background:red; }
.btn-yellow { background: orange; }
.btn-grey { background: #888; }

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  -webkit-position: sticky;
  position: sticky;
  top: 55px;
}
.clear { clear:both; }
.project_details { background: #e6e7e8; font-size: 1em; margin:0; text-transform: capitalize; }
.project_details h3 { margin: 0; padding: 10px; }
.project_details div { padding: 15px; }
.project_details label { display: block; font-size: 1.05em; margin-bottom: 5px; margin-top: 10px; }

#form_div input.form-control {height: 50px;}
#form_div label {margin-top:20px;}

.pricing_overlay {
	position: fixed;
    background: #fff url(/gv_reseller/static/img/loading_spinner.gif) no-repeat center center;
    z-index: 9;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.modal-content {
	background-color: transparent;
	box-shadow: none;
	border: none;
}

.modal-dialog {
	background-color: transparent;	
}
.gv_reseller-terms-and-conditions-body {
	background-color: #1a8943;	
	color: white;
	padding: 10;
	margin-bottom: 20px;
}

.gv_reseller-terms-and-conditions-body input{
	margin: 30 10 30 0
}

.gv_reseller-terms-and-conditions-header{
	padding: 40 0 40 0;
	text-align: center;
	margin-bottom: 5px;
	background-color: #1a8943;	
	color: white;
}

.gv_reseller-reject-project-confirmation-dialog {
	padding: 40 0 40 0;
	text-align: center;
	margin-bottom: 5px;
	background-color: #ed1c24;	
	color: white;
}

.gv_reseller-reject-project-confirmation-dialog textarea{
	width: 70%;
	color: black;
}

#submit-reject_btn {
	text-align: center;
	width: 120px;
	padding: 10 0 10 0;
	border: 1px solid white;
	color: white;
	cursor: pointer; 
  	cursor: hand; 
  	margin-left: auto;
  	margin-right: auto;
}
.gv_reseller-btn-cancel {
	margin-left: 20px;
	text-align: center;
	width: 120px;
	padding: 10 0 10 0;
	border: 1px solid white;
	color: white;
	cursor: pointer; 
  	cursor: hand; 
}

.gv_reseller-btn-disabled {
	border: 1px solid red !important;
	color: red !important;
	cursor: not-allowed !important;
}
.gv_reseller-btn-confirm {
	margin-right: 20px;
	text-align: center;
	width: 120px;
	padding: 10 0 10 0;
	border: 1px solid white;
	color: white;
	cursor: pointer; 
  	cursor: hand; 
}

.form-control[disabled] { background: #f3f3f3; }

#no_users_div { background: #e6e7e8;  text-align: center; padding: 0 0 35px; margin: 20px 0; }
#no_users_div h3 { text-transform: uppercase; width: 100%; margin:35px 0; }
#client_count { display: none; }
.rs_number_slider { display: block; width: 25%; min-width: 265px; margin: 0 auto; position: relative; }
.rs_number_slider:after, .rs_number_slider:before { content: " "; display: table; clear:both; }
.rs_number_slider span { float:left; padding: 17.5px; background: #fff; }
.rs_number_slider span:nth-child(2) { width: 100%; color:#48bd74; font-size: 1.1em }
.rs_number_slider span:first-child, .rs_number_slider span:last-child { cursor: pointer; background: #48bd74; color:#fff; font-size: 1.5em; }
.rs_number_slider span:first-child { position: absolute; left:0px; }
.rs_number_slider span:last-child { position: absolute; right:0px; }

#rs_pagination { margin-bottom: 65px; }
#rs_pagination:after, #rs_pagination:before {  content: ' '; display: table; clear:both;}
#rs_pagination ul { list-style: none; margin: 0 auto; padding: 0; width: 100%; text-align: center; font-size: 1.5em;  }
#rs_pagination ul li { position: relative; min-height:119px; width:24%; max-width:256px; color:#48bd74; float:left; box-sizing:border-box; text-align: center; padding: 10px; background-size:100% auto; background-repeat: no-repeat; cursor: pointer; }
#rs_pagination ul li:nth-child(1) { background-image: url('/gv_reseller/static/img/Status-01.png'); }
#rs_pagination ul li.active:nth-child(1) { background-image: url('/gv_reseller/static/img/Status-02.png'); }

#rs_pagination ul li:nth-child(2) { background-image: url('/gv_reseller/static/img/Status-03.png'); }
#rs_pagination ul li.active:nth-child(2) { background-image: url('/gv_reseller/static/img/Status-04.png'); }

#rs_pagination ul li:nth-child(3) { background-image: url('/gv_reseller/static/img/Status-05.png'); }
#rs_pagination ul li.active:nth-child(3) { background-image: url('/gv_reseller/static/img/Status-06.png'); }

#rs_pagination ul li:nth-child(4) { background-image: url('/gv_reseller/static/img/Status-07.png'); }
#rs_pagination ul li.active:nth-child(4) { background-image: url('/gv_reseller/static/img/Status-08.png'); }

#os_container_pre { margin-bottom: 50px; }

@media screen and (max-width: 991px){
	.module_title, .module_price { font-size: 0.8em; line-height: 11px;  }
	label.module-select { margin: 5px 0; }
}