/* Styles go here */
.gv_reseller-container {
	width:100%;
	padding-left: 10px;
	padding-right: 10px;
	clear: both;
}

.gv_reseller-searchbar {
  margin-top: 25px;
  margin-bottom: 25px;
}
#input-search-filter {	
	padding: 4px 5px 4px 5px;
}

.gv_reseller-status-filter{
  width: 100%;
  text-align: center;
}

.gv_reseller-status-filter td{
  width: 11.11%;
  cursor: pointer; 
  cursor: hand; 
  font-weight: bold;

}

.gv_reseller-line-up-arrow hr {
    width:100%;
    height: 1px;
    background: light-gray;
}
.gv_reseller-line-up-arrow {
    color: #018738;
}

.gv_reseller-line-up-arrow hr:after {
    content:'';
    position: relative;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 2;
    top: -18px;
    left: 45%;
}
.gv_reseller-line-up-arrow hr:before {
    content:'';
    position: relative;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: #F0F0F0 transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -10px;
    left: 45%;
}

.gv_reseller-project-table {
	width: 100%
}

.gv_reseller-project-table th {
	background-color: #018738;
	color: white;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	font-weight: normal;
}

.gv_reseller-project-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 5px;
    background-color: #fafafa;
}

.gv_reseller-table-company-info-column {
	background-color: #eaeaea!important;
}

.gv_reseller-project-table tr{
	height: 40px;
	border-bottom: 1px solid white;
}

.gv_reseller-view-button {
	text-align: center;
	width: 60px;
	height: 28px;
	padding-top: 3px;
	margin-bottom: 3px;
	background-color: #fafafa;
	border: 1px solid black;
	cursor: pointer; 
	cursor: hand; 
}
